In [4]:
import pandas as pd
import numpy as np
import seaborn as sbn

print("Pandas ver.: " + pd.__version__)
print("Numpy ver.: " + np.__version__)
print("Seaborn ver.: " + pd.__version__)

Pandas ver.: 1.5.3
Numpy ver.: 1.24.2
Seaborn ver.: 1.5.3

In [8]:
df1 = pd.read_csv("https://raw.githubusercontent.com/paulosuchoj/SportsVizSunday/main/Data/Soccer/Premier%20League%20%26%20WSL/league_player_data_20_21.csv")

df2 = pd.read_csv("https://raw.githubusercontent.com/paulosuchoj/SportsVizSunday/main/Data/Soccer/Premier%20League%20%26%20WSL/league_player_data_21_22.csv")

In [9]:
df1.head()

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [10]:
df2.head()

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,453,Son Heung-Min,35,3051,23,16.992174,7,7.846954,86,73,2,0,F M,Tottenham,23,16.992174,29.624776,10.343093
1,1250,Mohamed Salah,35,2757,23,24.364297,13,9.790820,139,62,1,0,F S,Liverpool,18,19.797284,32.158807,11.221982
2,2371,Cristiano Ronaldo,30,2468,18,17.212840,3,4.424966,110,26,8,0,F S,Manchester United,15,14.929333,23.253713,7.720640
3,647,Harry Kane,37,3229,17,20.685065,9,9.818288,133,48,5,0,F M S,Tottenham,13,17.640390,31.892183,9.808406
4,838,Sadio Mané,34,2833,16,16.829614,2,5.269159,98,39,5,0,F S,Liverpool,16,16.829614,28.448094,11.072970

In [14]:
player_data = pd.concat([df1, df2])
player_data.head()

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796